* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

.site__content {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  color: #fff;
}
.site__content h1 {
  font-weight: 200;
  font-size: 80px;
}
.site__content h1 span {
  font-weight: 800;
}
.site__content button {
  padding: 10px;
  background-color: #9bf00b;
  border-radius: 5px;
}
.site__content button a {
  font-size: 19px;
  font-weight: 600;
  color: #fff;
}
.site__content > div {
  padding: 10px 35px;
  max-width: 450px;
}

.grid-container {
  display: grid;
  grid-template-columns: 8fr 4fr;
  gap: 20px;
  margin-top: 20px;
}

.site__content video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.xbox__video {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.mwith-container {
  max-width: 1640px;
  margin: 0 auto;
}

.mavic {
  background-color: #f3f6fb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.mavic > span {
  text-align: center;
  background-color: #fff;
  color: black;
  padding: 10px;
}
.mavic .mavic__prod {
  line-height: 75px;
}
.mavic .mavic__prod .mavic__price {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.mavic .mavic__prod .mavic__name {
  text-align: center;
  font-size: 35px;
  font-weight: lighter;
}
.mavic .mavic__prod .btn-con {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mavic .mavic__prod .more__button {
  cursor: pointer;
  color: #fff;
  padding: 15px 30px;
  background-color: #2453D4;
  border: none;
  border-radius: 5px;
}
.mavic .mavic__prod .more__button:hover {
  background-color: #1f44a9;
}

.products {
  padding: 55px 0;
}

.product__wrappers {
  display: flex;
  gap: 10px;
}
.product__wrappers > div {
  flex-basis: calc((100% - 50px) / 6);
  border-radius: 15px;
  padding: 25px 10px;
}
.product__wrappers .product__item {
  background-color: #f3f6fb;
  text-align: center;
}
.product__wrappers .product__item img {
  width: 100%;
  max-width: 160px;
}
.product__wrappers .product__item p {
  font-size: 12px;
  color: #949597;
  margin: 5px 0 0 0;
}
.product__wrappers .product__item__video {
  position: relative;
  margin: 0 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.product__wrappers .product__item__video .video {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.product__wrappers .product__item__video .video__title {
  color: #fff;
  padding: 10px 25px;
  border: 1px solid #fff;
  border-radius: 5px;
}
.product__wrappers .product__item__video video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}
.product__wrappers .product__item__video img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

.header__items {
  background-color: #f3f6fb;
  padding: 10px;
}
.header__items .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.header__items .container .header__news h4 {
  font-size: 12px;
  color: #6d758d;
  font-family: Arial, sans-seri;
}
.header__items .container .header__icons {
  display: flex;
  gap: 17px;
}
.header__items .container .header__icons i {
  font-size: 14px;
  color: #6d758d;
  cursor: pointer;
}
.header__items .container .header__contact {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #6d758d;
}

.header__nav {
  padding: 30px 0 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.header__nav .nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  gap: 25px;
}
.header__nav .nav__logo {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__nav .nav__logo .fa-brain {
  font-size: 50px;
}
.header__nav .nav__list__item {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 22px;
}
.header__nav .game__box__xb {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px 10px;
  border-radius: 5px;
  background-color: #9bf00b;
  color: #f3f6fb;
  font-size: 13px;
}
.header__nav .game__box__xb:hover {
  background-color: #7dc207;
}
.header__nav .game__box__ps {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px 10px;
  border-radius: 5px;
  background-color: #006fca;
  color: #f3f6fb;
  font-size: 13px;
}
.header__nav .game__box__ps:hover {
  background-color: #00569c;
}
.header__nav .nav__items {
  cursor: pointer;
  display: flex;
  gap: 20px;
}

.nav__list > p {
  cursor: pointer;
  position: relative;
}
.nav__list > p:hover {
  color: #4361bb;
}
.nav__list > p:hover::before {
  width: 100%;
}
.nav__list > p::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #4361bb;
  transition: 0.3s all ease;
}/*# sourceMappingURL=style.css.map */