.site__content {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  color: #fff;

  & h1 {
    font-weight: 200;
    font-size: 80px;

    & span {
      font-weight: 800;
    }
  }

  & button {
    padding: 10px;
    background-color: #9bf00b;
    border-radius: 5px;

    & a {
      font-size: 19px;
      font-weight: 600;
      color: #fff;
    }
  }

  &>div {
    padding: 10px 35px;
    max-width: 450px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 8fr 4fr;
  gap: 20px;
  margin-top: 20px;
}

.site__content video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.xbox__video {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.mwith-container {
  max-width: 1640px;
  margin: 0 auto;
}




// .product__header {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: 30px 0 0 0;
.mavic {
  background-color: #f3f6fb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px 20px 20px;

  &>span {
    text-align: center;
    background-color: #fff;
    color: black;
    padding: 10px;
  }

  .mavic__prod {
    line-height: 75px;

    & .mavic__price {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }

    & .mavic__name {
      text-align: center;
      font-size: 35px;
      font-weight: lighter;
    }

    .btn-con {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .more__button {
      cursor: pointer;
      color: #fff;
      padding: 15px 30px;
      background-color: #2453D4;
      border: none;
      border-radius: 5px;

      &:hover {
        background-color: #1f44a9;
      }
    }
  }
}

.products {
  padding: 55px 0;
}

.product__wrappers {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow: hidden;

  &>div {
    flex-basis: calc((100% - 10px * 5) / 6);
    border-radius: 15px;
    padding: 25px 10px;
    min-width: 190px;
  }

  .product__item {
    background-color: #f3f6fb;
    text-align: center;
    cursor: pointer;
    z-index: -2;

    img {
      width: 100%;
      max-width: 160px;
    }

    p {
      font-size: 12px;
      color: #949597;
      margin: 5px 0 0 0;
    }

    .product__scale {
      transition: all .3s ease-in-out;
    }

  }

  .product__item:hover .product__scale {
    transform: translateY(-5px);
  }

  .product__item__video {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    cursor: pointer;
    min-height: 250px;

    .video {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 15px;
    }

    .video__title {
      color: #fff;
      padding: 10px 25px;
      border: 1px solid #fff;
      border-radius: 5px;
    }

    video {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -2;
    }

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }

}

.product-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
  flex: 1;
  margin-bottom: 40px;
}

.product-card-slide {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

.prodcuts__left {
  flex-basis: 30%;

}

.product-card img {
  max-width: 100%;
  border-bottom: 1px solid #eee;
}

.product-info {
  padding: 15px 12px;
  text-align: left;
}

.product-info-left {
  padding: 15px 12px;
  text-align: left;
}

.left-product-img {
  height: 30px;
  margin-bottom: 20px;
}

.price {
  font-size: 1.2em;
  color: #333;
  margin: 10px 0;
}

.products-name-head-sale {
  h4 {
    font-size: 34px;
    font-weight: 200;
    margin-bottom: 20px;
  }

  p {
    font-size: 13px;
    font-weight: 100;
    font-style: italic;
    opacity: 0.5;
  }
}

.category {
  font-size: 0.9em;
  color: #777;
}

.name {
  font-size: 1em;
  color: #555;
}

.products__items__slide {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
}

.product-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  overflow: hidden;
  text-align: center;
  width: 200px;
  padding: 20px;
  position: relative;
  flex-basis: calc((100% - 40px) / 3);

}

.product-card img {
  max-width: 100%;
  border-bottom: 1px solid #eee;
}

.product-info {
  padding: 15px 0;
}

.name {
  font-size: 1.1em;
  color: #333;
  margin: 10px 0;
}

.price {
  font-size: 1.4em;
  color: #333;
  margin: 10px 0;
}

.stock {
  font-size: 0.9em;
  color: #777;
}

.in-stock {
  color: green;
}

.products-name-head {
  text-align: center;
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.products-name-head-sale {
  text-align: center;
}

.airpods-max {
  margin-top: 40px;

}

.banner {
  background: url(./../../../assets/img/airpods-max-bg.webp);
  border-radius: 20px;
  background-color: #032a4b;
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  color: #fff;
  height: 375px;
  margin-left: 10px;
  margin-right: 10px;
}

.product-image {
  position: absolute;
  max-height: 190%;
  left: 10px;
  top: 41%;
  transform: translateY(-50%);
}

.banner-content {
  text-align: end;
  padding: 20px;
  z-index: 1;
}

.logo {
  position: absolute;
  top: -35px;
  background-color: #fff;
  border-radius: 50%;
}

.logo img {
  height: 50px;
  padding: 10px;
}

.airpods-max-name {
  margin: 0;
  max-width: 50%;
  font-size: 74px;
  font-weight: 100;
}

.airpods-max-info {
  padding: 30px;
  max-width: 50%;
  font-weight: 100;
  font-style: italic;
}

.airpods-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buy-button {
  display: inline-block;
  padding: 10px 40px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.1em;
  background-color: transparent;
  border: solid #fff;
  border-radius: 7px;
  transition: 0.5s;
}

.buy-button:hover {
  background-color: #fff;
  color: #000;
}

.trends {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 30px;

  & span i {
    font-size: 40px;

  }

  & h3 {
    font-size: 37px;
    font-weight: 100;
  }

  & .trend-list ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 14px;
    & li .all-clk{
      color: #006fca;
      text-decoration: underline;
    }
  }
}

.trend-cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 35px;
  max-width: 1200px;
  margin: 25px auto;

  & .product-card {}
}

.catalog-game {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 40px;

  & div {
    line-height: 50px;

    & p {
      font-size: 15px;
      font-weight: 100;
      font-style: italic;
      opacity: 0.5;
    }
  }

  & h3 {
    font-size: 32px;
    font-weight: 100;
  }

  & div button {
    background-color: #fff;
    color: #006fca;
    border: solid #006fca;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
    &:hover{
      background-color: #006fca;
      color: #fff;
    }
  }
}

.last-products {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 850px;
  margin: 35px auto;
  gap: 55px;
}



/*--------3D SLIDER--------*/

.slider__display {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: space-between;
  text-align: center;

  .slider__wrapper {
    overflow: hidden;
  }

  .slider__icon {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    max-width: 150px;

    img {
      width: 150px;
    }
  }

  .video {
    overflow: hidden;
    border-radius: 25px;
    position: absolute;
    z-index: -1;
    max-height: 500px;
    video{
      width: 100%;
    }
  }

  img {
    width: 100%;

  }

  .person {
    flex-basis: 50%;

    img {
      scale: .5;
      animation-name: scale;
      animation-duration: 4s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }
  }

  .slider__text {
    flex-basis: 50%;

    p {
      font: 14px Arial;
      line-height: 1.5;
      font-weight: 100;
      font-style: italic;
      opacity: 0.8;
    }

    padding: 15px;
  }

  .by__now {
    padding: 15px 35px;
    border: 1px solid #fff;
    border-radius: 15px;
    background-color: transparent;
    color: #fff;
    margin: 15px 0 0 0;
    cursor: pointer;
    transition: 1s;

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }

  h3 {
    font-family: "Roboto", Sans-serif;
    font-size: 80px;
    font-weight: 300;
  }

}

.last-product-item {}

@keyframes scale {
  0% {
    scale: .4;
    opacity: 0;
  }

  70% {
    rotate: 5deg;
    opacity: 1;
  }

  100% {
    scale: .8;
    opacity: 0;
    rotate: 3deg;
  }
}



/////////////////////////////MEDIA///////////////////





/* General styles for larger screens */
@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 8fr 4fr;
  }

  .product-card {
    width: calc((100% - 40px) / 3);
  }

  .trend-cards {
    gap: 35px;
  }

  .last-products {
    gap: 55px;
  }
}

/* Styles for tablets and small desktops */
@media (max-width: 1199px) and (min-width: 768px) {
 
  
  .grid-container {
    grid-template-columns: 1fr;
  }

  .site__content {
    text-align: center;
  }

  .product-card {
    width: calc((100% - 20px) / 2);
  }
.products{
  display: flex;
  flex-direction: column;
}

  .trend-cards {
    flex-wrap: wrap;
    gap: 20px;
  }
  .product-image{
    display: none;
  }
.airpods-info{
  max-width: 100%;
}
.banner-content{
  text-align: center;
}
  .last-products {
    gap: 20px;
    flex-wrap: wrap;
  }

  .prodcuts__left {
    margin-bottom: 40px;
  }
}

@media (width < 1000px) {
  .products__items__slide{
    flex-direction: column  ;
    align-items: center;
  }
}

/* Styles for mobile devices */
@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .site__content {
    text-align: center;
    padding: 20px;
  }
 
  .product__item__video{
   display: flex;
   flex-direction: column;
  }
  .product-card {
    min-width: 250px;
    margin-bottom: 20px;
  }
  .product-image{
    display: none;
  }
.airpods-info{
  max-width: 100%;
}
.banner-content{
  text-align: center;
}
  .trend-cards {
    flex-wrap: wrap;
    gap: 20px;
  }

  .last-products {
    flex-wrap: wrap;
    gap: 20px;
  }

  .banner-content {
    text-align: center;
    padding: 20px;
  }

  .airpods-max-name {
    font-size: 50px;
  }

  .airpods-max-info {
    font-size: 16px;
    padding: 20px;
  }

  .prodcuts__left {
    margin-bottom: 40px;
  }
}

@media (width < 768px) {
  .slider__display{
    overflow: hidden;
    border-radius: 25px;
    margin: 45px 15px;
    flex-direction: column;
    .video{
      max-height: initial;
    }
    .video video{
      width: initial;
    }
  }
}

/* Additional fine-tuning for very small screens */
@media (max-width: 480px) {
  .product-card {
    width: 100%;
    margin-bottom: 20px;
  }

  .trend-cards {
    flex-direction: column;
    gap: 20px;
  }

  .last-products {
    flex-direction: column;
    gap: 20px;
  }
  .product__wrappers{
    display: flex;
    flex-direction: column;
  }

  .product-card {
    width: 100%;
    margin-bottom: 20px;
  }
  .product-image{
    display: none;
  }
.airpods-info{
  max-width: 100%;
}
.banner-content{
  text-align: center;
}
  .airpods-max-name {
    font-size: 40px;
  }

  .airpods-max-info {
    font-size: 14px;
    padding: 15px;
  }

  .banner-content {
    text-align: center;
    padding: 10px;
  }
}